

/* all links turn white not purple */
a:visited { 
    text-decoration: none; 
    color: white; 
   }


/* background color of whole site */
   body { 
    background: rgb(230,176,247);
    background: radial-gradient(circle, rgba(230,176,247,0.5508797268907564) 7%, rgba(191,230,221,1) 42%, rgba(231,189,161,0.6153054971988796) 100%);
   }


/* sidebar stuff */
   .sidebar {
    overflow: auto; 
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: clear;
    position: fixed;
    height: 100%;
    text-align: right; 
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a:hover:not(.active) {
    background-color: clear;
    color: magenta;
  }
  
  .sidebar a.active {
    background-color: clear;
    color: blue;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }




/* margins of the whole site */
html, body {
    height: 100%;
    margin-left:7%;
    margin-right:5%;
    margin-bottom:0%;
    margin-top:0%;
        

}

h1 {
  color: black;
  font-weight: lighter;
}


h2 {
    color: black;
    font-weight: lighter;
}


  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }


/* footer stuff */
  .footer {
    height: 100px;
    margin-top: -50px;
    text-align: center;
  }
  footer {
    padding: 0 20px;
    line-height: 2px;
  }
  }